<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd">

    <import resource="classpath:ApplicationContext_Dao.xml"></import>
    <import resource="classpath:ApplicationContext_Service.xml"></import> 
     
     <!--多语言的配置 开始 根据浏览器--> 
     <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
    <!-- 国际化信息所在的文件名 -->                     
    <property name="basename" value="Languages/strings" /> 
    <property name="defaultEncoding" value="UTF-8" />  
    <!-- 如果在国际化资源文件中找不到对应代码的信息，就用这个key作为名称  -->               
    <property name="useCodeAsDefaultMessage" value="true" />           
	</bean>  
	<!-- <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>Languages/strings</value>
			</list>
		</property>
 
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
 	<mvc:interceptors>  
   		 国际化操作拦截器 如果采用基于（请求/Session/Cookie）则必需配置 
    	<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />  
	</mvc:interceptors> 
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />

	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="cookieName" value="spmsLanguage"/>
		<property name="cookieMaxAge" value="94608000"/>
		<property name="defaultLocale" value="zh_CN" /> 
	</bean> -->
	<!--多语言的配置 结束-->

</beans>
